body{
    background-color: #F2EAE2;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.Card{
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    height: 450px;    
    display: flex;
}
.ImageContainer{
    background-color: black;
    background-image: url(/eb2ee7736de7d5d296876bd9559b4050.png);
    width: 300px; 
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.TextContainer{
    display: flex;
    flex-direction: column;
    width: 237px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
}
.Parfume{
    color: var(--Aurometal-Saurus, #6C7289);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1{
    color: var(--Gunmetal, #1C232B);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Fraunces;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.Info{
    color: var(--Aurometal-Saurus, #6C7289);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; 
}
#NewPrice{
    color: var(--Deep-Aquamarine, #3D8168);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Fraunces;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    margin-top: 0px;
    margin-bottom:0px;
}
#OldPrice{
    color: var(--Aurometal-Saurus, #6C7289);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-decoration-line: line-through;
    margin-left: 19px;
    margin-top: 5px;
    margin-bottom: 4px;
}
.Price{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-right: 74px;
    
}
button{
    width: 236px;
    height: 48px;
    border-radius: 8px;
    background: var(--Deep-Aquamarine, #3D8168);
    color: var(--Pure-White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
    margin-right: 32px;
    margin-top: 30px;
    border-color: #3D8168;
}
#add{
    margin-left: 11px;
color: var(--Pure-White, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
button img{
    width: 14.385px;
    height: 16px;
}